openapi: 3.0.3
info:
  title: Mosaic Aggregator APIs
  description: |
    Mosaic Aggregator APIs
  license:
    name: Apache 2.0
    url: "https://www.apache.org/licenses/LICENSE-2.0.html"
  version: "1.0.0"
servers:
  - url: "https://api.mosaic.ag"

paths:
  "/v1/quote":
    get:
      summary: "Get Quote"
      description: Find the best quote to swap with Mosaic Aggregator
      operationId: getQuote
      parameters:
        - in: header
          name: X-API-Key
          schema:
            type: string
        - schema:
            type: string
          in: query
          name: srcAsset
          required: true
          example: "0x1::aptos_coin::AptosCoin"
        - schema:
            type: string
          in: query
          name: dstAsset
          example: 0x275f508689de8756169d1ee02d889c777de1cebda3a7bbcce63ba8a27c563c6f::tokens::USDC
          required: true
        - schema:
            type: string
          in: query
          name: amount
          example: 100000000
          description: Amount of the token to be swapped
          required: true
        - schema:
            type: boolean
          in: query
          name: isFeeIn
          example: true
          description: Whether the fee is in the source asset
        - schema:
            type: number
          in: query
          name: feeInBps
          example: 30
          description: Fee in basis points
          required: false
        - schema:
            type: string
          in: query
          name: feeReceiver
          example: "0x0145f3f2a68d9bcf8f5a1ae2ca34760c76a9742c7b22b36a54f706dd587cc26c"
          description: Fee receiver address
          required: false
        - schema:
            type: string
          in: query
          name: slippage
          example: 10
          description: Slippage tolerance in basis points
          required: false
        - schema:
            type: string
          in: query
          name: sender
          example: "0x0145f3f2a68d9bcf8f5a1ae2ca34760c76a9742c7b22b36a54f706dd587cc26c"
          description: Sender address
          required: false
        - schema:
            type: string
          in: query
          name: receiver
          example: "0x0145f3f2a68d9bcf8f5a1ae2ca34760c76a9742c7b22b36a54f706dd587cc26c"
          description: Receiver address. If not provided, the sender address will be used.
          required: false

      responses:
        "200":
          description: Successfully found quote
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    description: Response code
                    example: 0
                  message:
                    type: string
                    description: Response message
                    example: successfully
                  requestId:
                    type: string
                    description: Internal request identity for tracing/troubleshooting
                    example: f4f7aa6b2dec13ae9fe36d7622fa83f4
                  data:
                    type: object
                    properties:
                      srcAsset:
                        type: string
                        example: 0x1::aptos_coin::AptosCoin
                      dstAsset:
                        type: string
                        example: 0x275f508689de8756169d1ee02d889c777de1cebda3a7bbcce63ba8a27c563c6f::tokens::USDC
                      srcAmount:
                        type: string
                        example: 100000
                      dstAmount:
                        type: string
                        example: 2056477
                      feeAmount:
                        type: string
                        example: 100000
                      isFeeIn:
                        type: boolean
                        example: true
                      paths:
                        type: array
                        items:
                          type: object
                          properties:
                            source:
                              type: string
                              example: razor_swap
                            srcAsset:
                              type: string
                              example: 0x1::aptos_coin::AptosCoin
                            dstAsset:
                              type: string
                              example: 0x275f508689de8756169d1ee02d889c777de1cebda3a7bbcce63ba8a27c563c6f::tokens::USDC
                            srcAmount:
                              type: string
                              example: 100000
                            dstAmount:
                              type: string
                              example: 2056477
                      tx:
                        type: object
                        properties:
                          function:
                            type: string
                            example: "0xede23ef215f0594e658b148c2a391b1523335ab01495d8637e076ec510c6ec3c::router::swap"
                          typeArguments:
                            type: array
                            example:
                              - "0x1::aptos_coin::AptosCoin"
                              - "0x275f508689de8756169d1ee02d889c777de1cebda3a7bbcce63ba8a27c563c6f::tokens::USDC"
                              - "0x275f508689de8756169d1ee02d889c777de1cebda3a7bbcce63ba8a27c563c6f::tokens::USDT"
                              - "0xede23ef215f0594e658b148c2a391b1523335ab01495d8637e076ec510c6ec3c::router::Null"
                              - "0xede23ef215f0594e658b148c2a391b1523335ab01495d8637e076ec510c6ec3c::router::Null"
                              - "0xede23ef215f0594e658b148c2a391b1523335ab01495d8637e076ec510c6ec3c::router::Null"
                              - "0xede23ef215f0594e658b148c2a391b1523335ab01495d8637e076ec510c6ec3c::router::Null"
                              - "0xede23ef215f0594e658b148c2a391b1523335ab01495d8637e076ec510c6ec3c::router::Null"
                              - "0xede23ef215f0594e658b148c2a391b1523335ab01495d8637e076ec510c6ec3c::router::Null"
                              - "0xede23ef215f0594e658b148c2a391b1523335ab01495d8637e076ec510c6ec3c::router::Null"
                              - "0xede23ef215f0594e658b148c2a391b1523335ab01495d8637e076ec510c6ec3c::router::Null"
                              - "0xede23ef215f0594e658b148c2a391b1523335ab01495d8637e076ec510c6ec3c::router::Null"
                              - "0xede23ef215f0594e658b148c2a391b1523335ab01495d8637e076ec510c6ec3c::router::Null"
                              - "0xede23ef215f0594e658b148c2a391b1523335ab01495d8637e076ec510c6ec3c::router::Null"
                              - "0xede23ef215f0594e658b148c2a391b1523335ab01495d8637e076ec510c6ec3c::router::Null"
                            items:
                              type: string
                          functionArguments:
                            type: object
                            properties:
                              receiver:
                                type: string
                                example: "0x47652bd91e7cf0ca0476eaff712f360addc1edeadd86352f37586183d0278d08"
                              amounts:
                                type: array
                                example:
                                  - "20000000"
                                items:
                                  type: string
                              routeData:
                                type: array
                                example:
                                  - "4"
                                  - "1"
                                  - "3"
                                  - "0"
                                  - "0"
                                  - "0"
                                  - "18446744073709551614"
                                  - "4"
                                  - "3"
                                  - "2"
                                  - "1"
                                  - "50"
                                  - "1"
                                items:
                                  type: string
                              faAddresses:
                                type: array
                                items:
                                  type: string
                              configAddresses:
                                type: array
                                items:
                                  type: string
                              feeReceiver:
                                type: string
                                example: "0x0000000000000000000000000000000000000000000000000000000000000000"
                              feeBps:
                                type: string
                                example: "0"
                              isFeeIn:
                                type: boolean
                                example: true
                              minAmountOut:
                                type: string
                                example: "31708771"
                              extraData:
                                type: string

  "/v1/tokens":
    get:
      summary: "Get Tokens"
      description: Retrieve tokens based on IDs, cursor, count, and pattern
      operationId: getTokens
      parameters:
        - in: header
          name: X-API-Key
          schema:
            type: string
        - in: query
          name: ids
          schema:
            type: array
            items:
              type: string
          description: List of token IDs to retrieve. If omit, all tokens will be retrieved.
          required: false
        - in: query
          name: cursor
          schema:
            type: integer
            format: uint64
          description: Cursor for pagination.
          required: false
        - in: query
          name: count
          schema:
            type: integer
            format: int64
          description: Number of tokens to retrieve.
          required: false
        - in: query
          name: pattern
          schema:
            type: string
          description: Pattern to match token names.
          required: false
      responses:
        "200":
          description: A list of tokens and the next cursor for pagination.
          content:
            application/json:
              schema:
                type: object
                properties:
                  tokenById:
                    type: object
                    additionalProperties:
                      type: object
                      properties:
                        id:
                          type: string
                          description: Unique identifier of the token.
                        decimals:
                          type: integer
                          format: uint8
                          description: Number of decimal places the token supports.
                        name:
                          type: string
                          description: Name of the token.
                        symbol:
                          type: string
                          description: Symbol of the token.
                  nextCursor:
                    type: integer
                    format: uint64
